main {
    padding: 0 20px 30px 20px;
    border-bottom: 1px solid #64666B;
}

main > article {
    line-height: 1.5;
}

main > article > .tags-ul, main > article > .links-ul {
    font-size: initial;
    margin-top: 5px;
    padding: 0;
}

main > article > .tags-ul {
    margin-bottom: 0;
}

main > article > .tags-ul > li:first-child > a, main > article > .links-ul > li:first-child > a {
    margin-left: 0;
}

main {
    font-size: 16pt;
}

main h1 {
    font-size: 30pt;
}

main h2 {
    font-size: 28pt;
}

main h3 {
    font-size: 26pt;
}

main h4 {
    font-size: 24pt;
}

main h5 {
    font-size: 22pt;
}

main h6 {
    font-size: 20pt;
}

main h1:first-child {
    margin-bottom: 0;
}

main .external-a, main .external-a:link, main .external-a:visited {
    color: #F26430;
    transition: color ease-in-out 0.3s;
}

main .external-a:hover, main .external-a:link:hover, main .external-a:visited:hover {
    color: #FABC3C;
}

.header-anchor {
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

h1:hover > .header-anchor, h2:hover > .header-anchor, h3:hover > .header-anchor, h4:hover > .header-anchor, h5:hover > .header-anchor, h6:hover > .header-anchor {
    opacity: 1;
}

.embed-responsive, iframe, #terminal {
    display: block;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 800px) {
    main {
        width: calc(100% - 40px);
        padding-left: 0;
        padding-right: 0;
    }

    main {
        font-size: 14pt;
    }

    main h1 {
        font-size: 26pt;
    }

    main h2 {
        font-size: 24pt;
    }

    main h3 {
        font-size: 22pt;
    }

    main h4 {
        font-size: 20pt;
    }

    main h5 {
        font-size: 18pt;
    }

    main h6 {
        font-size: 16pt;
    }
}
