main {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #64666B;
}

main > .tags-ul {
    margin: 0;
}

@media (max-width: 800px) {
    main {
        width: calc(100% - 40px);
    }
}